:root {
    --bs-font-sans-serif: "Rubik", sans-serif;
    --bs-body-font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
.nav-link {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.bx {
    font-size: inherit;
}

.hero-slide .swiper .swiper-slide {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    padding: 4rem 0;
}

.section-title {
    font-size: 48px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.section-subtitle {
    position: relative;
    padding-left: 55px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.section-subtitle::before,
.section-subtitle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: black;
    left: 0;
    bottom: 0;
    text-align: right;
    top: 50%;
}

.section-subtitle::before {
    width: 45px;
    bottom: 5px;
    top: 25%;
}

.section-subtitle::after {
    left: 10px;
}

.checklist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}

#search-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    justify-content: center;
    align-items: center;
}

#search-popup .search-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#search-popup.show .search-content {
    transform: scale(1);
}

#search-popup .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.spinner img {
    width: 100px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}