.footer {
    color: #90959b;
    padding: 2rem;
    background: var(--dark-color) url(../../images/png/overlay/tire.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 0;
    font-size: 14px;

    h4 {
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 2rem;
        color: white;
        position: relative;
        letter-spacing: 1px;

        &::before {
            content: '';
            width: 4px;
            height: 20px;
            background-color: var(--main-color);
            display: inline-grid;
            margin-right: .75rem;
            vertical-align: middle;
        }
    }

    p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 1rem;
    }

    form {
        position: relative;

        input {
            background-color: transparent;
            border: 1px solid #59697a;
            border-radius: 0;
            color: white;
            font-size: 14px;
            line-height: 32px;

            &:focus {
                background-color: transparent;
                border: 1px solid var(--main-color);
                outline: none;
                box-shadow: none;
                color: white;
            }
        }

        button {
            border-radius: 0;
            font-size: 13px;
            position: absolute;
            right: 11px;
            bottom: -15px;
            line-height: 25px;
            background-color: var(--main-color);
            border-color: var(--main-color);

            &:hover {
                background-color: var(--dark-color);
                border-color: var(--main-color);
            }
        }
    }

    .footer-text {
        span {
            color: white;
            margin-bottom: 8px;
            display: block;
            margin-top: 32px;

        }

        h6 {
            font-weight: 400;
            margin-bottom: 18px;
        }

        .button-main:hover {
            color: white !important;
        }
    }

    .quick-links {
        .nav-link {
            position: relative;
            border-bottom: 1px dashed rgb(102 102 102 / 52%);
            padding-left: 0;

            &::before {
                content: '';
                width: 8px;
                height: 8px;
                border: 2px solid;
                border-radius: 2px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 12px;
                transform: rotate(45deg);
                border-color: #90959b #90959b transparent transparent;
            }

            &:hover::before {
                border-color: var(--main-color) var(--main-color) transparent transparent;
            }

            .nav-item:last-of-type & {
                border-bottom: none;
            }
        }
    }

    .recent-posts {
        a:not(.meta-author a) {
            color: white;
            font-size: 16px;
        }

        .meta-author {
            display: block;
            font-size: 13px;

            a {
                color: var(--main-color);

            }
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.copy-right {
    border-top: 1px dashed #414446;
    padding: 12px 0;
    margin-top: 32px;

    .socials a {
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid;
        text-align: center;
        line-height: 25px;
        border-radius: 3px;

        &:hover {
            color: var(--main-color);
        }
    }
}