.navbar {
    height: 100px;

    .nav-link {
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px 13px !important;
    }
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}