.navbar {
    height: 100px;

    .nav-link {
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px 13px !important;
    }
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}


@media (max-width: 992px) {

    .offcanvas {
        background-color: var(--dark-color);
        color: white;

        .offcanvas-header {
            background: #ef4444;
            text-transform: uppercase;
            letter-spacing: 5px;
            position: relative;

            .button-close {
                color: white;
                font-size: 24px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 65px;
                display: grid;
                place-content: center;
                background-color: rgb(0, 0, 0, 0.08);
                border: none;

                &:hover {
                    background-color: #ffffff30;
                }
            }

        }

        .button-main {
            border-color: var(--main-color);
            background-color: var(--dark-color);

            &::after {
                content: none;
            }

            &:hover {
                color: white !important;
                background-color: var(--main-color) !important;
            }
        }
    }

    .navbar .nav-link {
        color: white;
        letter-spacing: 1px;
        border-bottom: 1px dashed #333a3f;
        padding: 20px 16px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .offcanvas-body {
        padding: 0;
    }

    .dropdown:has(.dropdown-menu) .nav-link::after {
        content: "+";
        width: 6px;
        margin-left: 7px;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-25%);
        height: 100%;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        color: var(--main-color);
    }
}