#back-to-top {
    padding: 0;
    border: none;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease;
}

#back-to-top svg {
    width: 14px;
}

#back-to-top span.text {
    padding: 6px;
    display: block;
    background-color: var(--main-color);
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 12px;
    font-weight: 600;
}

span.icon {
    display: block;
    padding: 5px 12px;
    color: var(--main-color);
    background-color: #464646;
}