#back-to-top {
    padding: 0;
    border: none;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    transition: 0.5s ease;

    @media (max-width: 992px) {
        & {
            top: auto;
            bottom: 20px;
            right: 16px;
        }
    }
}

#back-to-top svg {
    width: 14px;
}

#back-to-top span.text {
    padding: 6px;
    display: block;
    background-color: #6c757d;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 8px;
    font-weight: 600;
}

span.icon {
    display: block;
    padding: 5px 12px;
    color: white;
    background-color: var(--main-color);
    border-bottom: 1px solid white;
}