.animate-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;

    div {
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        width: 1px;
        background-color: #e5e5e5;

        span {
            background-color: currentColor;
            width: 3px;
            height: 20px;
            position: absolute;
            top: 0;
            left: -1px;
            animation-name: animate_bg;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
        }

        &.right-line span {
            background-color: var(--main-color);
        }

        &:nth-child(1) {
            left: 33%;
            bottom: -170px;
        }

        &:nth-child(2) {
            left: 66%;
            top: -170px;
        }
    }
}

@keyframes animate_bg {
    from {
        top: 0;
    }

    to {
        top: 100%;
    }
}