.footer {
    background-color: var(--dark-color);
    color: #c3c9d1;
    padding: 2rem;
}

.footer h4 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: white;
    position: relative;
    letter-spacing: 1px;
}

.footer h4::before {
    content: '';
    width: 4px;
    height: 20px;
    background-color: var(--main-color);
    display: inline-grid;
    margin-right: .75rem;
    vertical-align: middle;
}

.footer p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.footer form {
    position: relative;
}

.footer form input {
    background-color: transparent;
    border: 1px solid #59697a;
    border-radius: 0;
    color: white;
    font-size: 14px;
    line-height: 32px;
}

.footer form button {
    border-radius: 0;
    font-size: 13px;
    position: absolute;
    right: 11px;
    bottom: -15px;
    line-height: 25px;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.footer form button:hover {
    background-color: red;
}