.swiper-control-buttons {
    position: relative;
    width: 100%;
    height: 46px;
    display: flex;

    &>div {
        color: var(--dark-color);
        display: inline-flex;
        align-items: center;
        width: 35px;
        position: relative;
        font-size: 12px;
        height: 35px;
        background-color: whitesmoke;
        margin: -9px 5px 0 0;
        transition: 0.3s ease;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            color: var(--dark-color);
            border-color: var(--dark-color);
        }

        svg {
            width: 16px;
            height: 16px;
        }

        &::after {
            content: none;
        }
    }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
}
