.expert-card {
    position: relative;
    overflow: hidden;
    border: 1px solid #000000;

    &:hover {
        border-color: var(--main-color);
    }

    .image {
        img {
            width: 100%;
            transition: 0.3s ease;
            &:hover & {
                transform: scale(1.25);
            }
        }
    }

    .text {
        position: absolute;
        bottom: 0;
        width: 100%;

        .socials {
            flex-shrink: 0;

            a {
                display: grid;
                width: 45px;
                height: 45px;
                background-color: var(--main-color);
                place-content: center;
                text-decoration: none;
                color: white;
                position: relative;
                z-index: 2;
                transition: 0.3s ease-in-out;

                &:nth-child(2) {
                    border-top: 1px solid #e34747;
                    border-bottom: 1px solid #e34747;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 100%;
                    background-color: white;
                    left: 100%;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    background-color: white;
                    color: var(--main-color);

                    &::after {
                        width: 5px;
                    }
                }
            }
        }

        .name-job {
            flex-grow: 1;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            position: relative;
            z-index: 1;
            color: white;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                background-color: black;
                height: 70px;
                left: 0;
                bottom: 0;
                z-index: -1;
            }

            h6 a {
                font-weight: 500;
            }

            span {
                font-size: 13px;
                display: block;
                margin-top: 4px;
            }
        }
    }
}