.meet-ask-row {
    display: flex;
    padding: 32px 82px 32px 0;
    margin-top: -90px;
    z-index: 1;
    background-color: white;
    justify-content: end;
    transform: translateX(-26%);
    height: 145px;
    align-items: center;

    .meet-ask-item {
        display: flex;

        .mai-image {
            width: 42px;
            height: 42px;
            overflow: hidden;
            margin-right: 24px;

            img {
                height: 100%;
            }
        }

        .mai-text {
            span {
                font-size: 13px;
                text-transform: uppercase;
            }

            h6 {
                font-size: 18px;
                font-weight: 600;
                margin: 3px 0;
            }

            a {
                display: inline-block;
                font-size: 13px;
                text-decoration: none;
                font-weight: 500;
                // color: var(--main-color);
            }
        }

        &:nth-child(2) {
            position: relative;
            padding-left: 32px;
            margin-left: 32px;

            &::before {
                content: '';
                position: absolute;
                height: 50%;
                left: 0;
                width: 1px;
                background-color: #ddd;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media (max-width: 992px) {
    .meet-ask-row {
        display: block;
        transform: translateX(0);
        padding: 24px;
        margin: 0;
        height: auto;
        .meet-ask-item {
            &:nth-child(2) {
                padding: 24px 0 0;
                margin: 0;
                margin-top: 26px;
                &::before {
                    top: 0;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
    .meet-ask-section.section {
        padding: 0;
    }
}