.meet-ask-row {
    display: flex;
    padding: 32px 82px 32px 0;
    margin-top: -90px;
    z-index: 1;
    background-color: white;
    justify-content: end;
    transform: translateX(-26%);
    height: 145px;
    align-items: center;

    .meet-ask-item {
        display: flex;

        .mai-image {
            width: 42px;
            height: 42px;
            overflow: hidden;
            margin-right: 24px;

            img {
                height: 100%;
            }
        }

        .mai-text {
            span {
                font-size: 13px;
            }

            h6 {
                font-size: 18px;
                font-weight: 600;
                margin: 3px 0;
            }

            a {
                display: inline-block;
                font-size: 13px;
                text-decoration: none;
                font-weight: 500;
                // color: var(--main-color);
            }
        }

        &:nth-child(2) {
            position: relative;
            padding-left: 32px;
            margin-left: 32px;

            &::before {
                content: '';
                position: absolute;
                height: 50%;
                left: 0;
                width: 1px;
                background-color: #ddd;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media (max-width: 992px) {
    .meet-ask-row {
        display: block;
        transform: translateX(0);
        padding: 24px;
        margin: 0;
        height: auto;

        .meet-ask-item {
            &:nth-child(2) {
                padding: 24px 0 0;
                margin: 0;
                margin-top: 26px;

                &::before {
                    top: 0;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }

    .meet-ask-section.section {
        padding: 0;
    }
}


.the-arrow {
    width: 1px;
    transition: all 0.2s;
}

.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}

.the-arrow.-left>.shaft {
    width: 0;
    background-color: #4c4c4c;
}

.the-arrow.-left>.shaft:before,
.the-arrow.-left>.shaft:after {
    width: 0;
    background-color: #4c4c4c;
}

.the-arrow.-left>.shaft:before {
    transform: rotate(0);
}

.the-arrow.-left>.shaft:after {
    transform: rotate(0);
}

.the-arrow.-right {
    top: 3px;
}

.the-arrow.-right>.shaft {
    width: 1px;
    transition-delay: 0.2s;
}

.the-arrow.-right>.shaft:before,
.the-arrow.-right>.shaft:after {
    width: 5px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.the-arrow.-right>.shaft:before {
    transform: rotate(40deg);
}

.the-arrow.-right>.shaft:after {
    transform: rotate(-40deg);
}

.the-arrow>.shaft {
    background-color: #4c4c4c;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.the-arrow>.shaft:before,
.the-arrow>.shaft:after {
    background-color: #4c4c4c;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.the-arrow>.shaft:before {
    transform-origin: top right;
}

.the-arrow>.shaft:after {
    transform-origin: bottom right;
}

.das-link {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}


.mai-text:hover .das-link>.the-arrow.-left>.shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #808080;
}

.mai-text:hover > .das-link>.the-arrow.-left>.shaft:before,
.mai-text:hover > .das-link>.the-arrow.-left>.shaft:after {
    width: 5px;
    transition-delay: 0.1s;
    background-color: #808080;
}

.mai-text:hover > .das-link>.the-arrow.-left>.shaft:before {
    transform: rotate(40deg);
}

.mai-text:hover > .das-link>.the-arrow.-left>.shaft:after {
    transform: rotate(-40deg);
}

.mai-text:hover > .das-link>.main {
    transform: translateX(17px);
    transform: translateX(80px);
}

.mai-text:hover > .das-link>.main>.the-arrow.-right>.shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.mai-text:hover > .das-link>.main>.the-arrow.-right>.shaft:before,
.mai-text:hover > .das-link>.main>.the-arrow.-right>.shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}

.mai-text:hover > .das-link>.main>.the-arrow.-right>.shaft:before {
    transform: rotate(0);
}

.mai-text:hover > .das-link>.main>.the-arrow.-right>.shaft:after {
    transform: rotate(0);
}

.das-link>.main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.das-link>.main>.text {
    margin: 0 16px 0 0;
    line-height: 1;
}

.das-link>.main>.the-arrow {
    position: relative;
}