.service-card {
    position: relative;
    overflow: hidden;

    .service-image {
        img {
            width: 100%;
            transition: 0.3s ease;
        }
        &:hover img {
            transform: scale(1.25);
        }
    }

    .service-text {
        background-color: var(--main-color);
        color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-left: 4rem;

        .st-icon {
            background-color: white;
            padding: 0.25rem;
            position: absolute;
            left: 0;
            top: 0;
            width: 64px;
            height: 64px;
            display: grid;
            place-content: center;

            img {
                width: 42px;
            }
        }

        .st-text {
            padding: 0.25rem 1rem 0.5rem;

            span {
                font-size: 13px;
            }

            p {
                font-size: 14px;
                line-height: 1rem;
                margin-top: 5px;
            }

            h6 a {
                font-weight: 600;
                text-decoration: none;
                font-size: 18px;
                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
}

.services .swiper-slide {
    width: 290px !important;
    @media (max-width: 992px) {
        & { width: 100% !important; }
    }
}