.socials-stats h6 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    position: relative;
    background-color: white;
}

.socials-stats h6::before,
.socials-stats h6::after {
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    background-color: #ddd;
    top: 50%;
    transform: translateY(-50%);
}

.socials-stats h6::before {
    left: 0;
}

.socials-stats h6::after {
    right: 0;
    left: auto;
}

.ss-item {
    display: flex;
    align-items: center;
}

.ss-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #222;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    margin-right: 1rem;
}

.ss-item span:not(.odometer span) {
    font-weight: 600;
    font-size: 19px;
    margin-right: .5rem;
}

.ss-item small {
    text-transform: uppercase;
    font-size: 12px;
}

$colors: (
    "facebook": #1877F2,
    "twitter": #0099FF,
    "instagram": #E4405F,
    "linkedin": #0A66C2,
);

@each $name, $color in $colors {
    .#{$name} {
        background-color: $color;
    }
}

.section.attech-section {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://via.placeholder.com/1");
    background-attachment: fixed;
    text-align: center;
}

.section.attech-section .section-title {
    font-size: 35px;
    color: white;
    margin: 24px 0;
}

.section.socials-stats .subtitle {
    color: var(--main-color) !important;
}

.attech-section .section-header .subtitle {
    color: var(--main-color);
}