<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0 footer-text">
                    <h4>About Center</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias facere modi molestias
                        soluta numquam quas iste harum quibusdam ex suscipit.
                    </p>
                    <span>WE ARE AVAILABLE</span>
                    <h6>Mon-Sat: 09.00 am to 6.30 pm</h6>
                    <a href="tel:+201080720455" class="button button-main">Call To Us</a>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0 ps-lg-5 quick-links">
                    <h4>Quick Link</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="services-1.html" class="nav-link">Popular Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blog & News</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Why Choose Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0 recent-posts">
                    <h4>Recent Post</h4>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Enhancing Web Projects with SASS...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">A. Elsewailky</a>
                            </span>
                        </div>
                    </div>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Mastering Gulp for Efficient...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">Jane Doe</a>
                            </span>
                        </div>
                    </div>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Dynamic Table Generation with...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">Alex Smith</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h4>News Letter</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque veniam nobis, ipsam
                        laboriosam deleniti enim!</p>
                    <form action="/">
                        <input type="text" class="form-control" placeholder="Email Adress">
                        <button type="button" class="btn btn-success">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright &copy; 2024 <a href="index.html" class="text-main">Ridez</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end socials">
                    <a href="https://facebook.com/ahmedelsewailky" target="_blank" rel="noopener"
                        title="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="https://twitter.com/elsewailky" target="_blank" rel="noopener" title="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="https://instagram.com/ahmedelsewailky" target="_blank" rel="noopener"
                        title="Instagram">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="https://github.com/ahmedelsewailky" target="_blank" rel="noopener" title="Github">
                        <i class="bx bxl-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include('./backtop.html')

@@include('./search.html')