<div class="open-phone-address bg-dark">
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-lg-4 opa-col-item">
                <div class="d-flex opa-item">
                    <div class="flex-shrink-0 me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5">
                                <path d="M11.795 21H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4"></path>
                                <path d="M14 18a4 4 0 1 0 8 0a4 4 0 1 0-8 0m1-15v4M7 3v4m-4 4h16"></path>
                                <path d="M18 16.496V18l1 1"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="flex-grow-1">
                        <span>WE ARE OPEN MONDAY-FRIDAy</span>
                        <h3>7:00 am - 9:00 pm</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 opa-col-item">
                <div class="d-flex opa-item">
                    <div class="flex-shrink-0 me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32">
                            <path fill="currentColor"
                                d="M16 14h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm-8 4h2v2h-2zm4 0h2v2h-2zm4 0h2v2h-2zm-8-12h10v2H16z">
                            </path>
                            <path fill="currentColor"
                                d="M28 6H14V5a2.003 2.003 0 0 0-2-2H8a2.003 2.003 0 0 0-2 2v1H4a2.003 2.003 0 0 0-2 2v18a2.003 2.003 0 0 0 2 2h24a2.003 2.003 0 0 0 2-2V8a2.003 2.003 0 0 0-2-2M8 5h4v17H8Zm20 21H4V8h2v14a2.003 2.003 0 0 0 2 2h4a2.003 2.003 0 0 0 2-2V8h14Z">
                            </path>
                        </svg>
                    </div>
                    <div class="flex-grow-1">
                        <span>Have A Question?</span>
                        <h3>(+20) 123-456-789</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 opa-col-item">
                <div class="d-flex opa-item">
                    <div class="flex-shrink-0 me-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.5"
                                d="M12 18.5L9 17l-6 3V7l6-3l6 3l6-3v7.5M9 4v13m6-10v5.5m6.121 7.621a3 3 0 1 0-4.242 0Q17.506 20.749 19 22q1.577-1.335 2.121-1.879M19 18v.01">
                            </path>
                        </svg>
                    </div>
                    <div class="flex-grow-1">
                        <span>Need A Repair? Our Address</span>
                        <h3>Abbas El-AkkadNasr, Cairo
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0 footer-text">
                    <h4>About Center</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias facere modi molestias
                        soluta numquam quas iste harum quibusdam ex suscipit.
                    </p>
                    <span>WE ARE AVAILABLE</span>
                    <h6>Mon-Sat: 09.00 am to 6.30 pm</h6>
                    <a href="tel:+201080720455" class="button button-main">Call To Us</a>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0 ps-lg-5 quick-links">
                    <h4>Quick Link</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="services-1.html" class="nav-link">Popular Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blog & News</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Why Choose Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0 recent-posts">
                    <h4>Recent Post</h4>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Enhancing Web Projects with SASS...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">A. Elsewailky</a>
                            </span>
                        </div>
                    </div>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Mastering Gulp for Efficient...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">Jane Doe</a>
                            </span>
                        </div>
                    </div>
                    <div class="post-item d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="./../../images/placeholder/image_60x60.png" alt="post image">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Dynamic Table Generation with...</a>
                            <span class="meta-author">
                                <i class="bx bx-user me-1"></i><a href="#">Alex Smith</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h4>News Letter</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque veniam nobis, ipsam
                        laboriosam deleniti enim!</p>
                    <form action="/">
                        <input type="text" class="form-control" placeholder="Email Adress">
                        <button type="button" class="btn btn-success">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright &copy; 2024 <a href="index.html" class="text-main">Ridez</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end socials">
                    <a href="https://facebook.com/ahmedelsewailky" target="_blank" rel="noopener" title="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="https://twitter.com/elsewailky" target="_blank" rel="noopener" title="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="https://instagram.com/ahmedelsewailky" target="_blank" rel="noopener" title="Instagram">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="https://github.com/ahmedelsewailky" target="_blank" rel="noopener" title="Github">
                        <i class="bx bxl-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include('./backtop.html')

@@include('./search.html')