<div class="animate-bg">
    <div class="line left-line">
        <span style="animation-delay: 0s; animation-duration: 14.58s;"></span>
        <span style="animation-delay: 1.83s; animation-duration: 13.34s;"></span>
        <span style="animation-delay: 3.67s; animation-duration: 14.96s;"></span>
        <span style="animation-delay: 5.5s; animation-duration: 13.86s;"></span>
        <span style="animation-delay: 7.33s; animation-duration: 13.89s;"></span>
        <span style="animation-delay: 9.17s; animation-duration: 14.33s;"></span>
        <span style="animation-delay: 11s; animation-duration: 14.37s;"></span>
        <span style="animation-delay: 12.83s; animation-duration: 14.57s;"></span>
        <span style="animation-delay: 14.67s; animation-duration: 13.49s;"></span>
        <span style="animation-delay: 16.5s; animation-duration: 14s;"></span>
        <span style="animation-delay: 18.33s; animation-duration: 14.97s;"></span>
    </div>
    <div class="line right-line">
        <span style="animation-delay: 0s; animation-duration: 22.13s;"></span>
        <span style="animation-delay: 2.17s; animation-duration: 14.25s;"></span>
        <span style="animation-delay: 4.33s; animation-duration: 13.41s;"></span>
        <span style="animation-delay: 6.5s; animation-duration: 14.91s;"></span>
        <span style="animation-delay: 8.67s; animation-duration: 13.55s;"></span>
        <span style="animation-delay: 10.83s; animation-duration: 14.34s;"></span>
        <span style="animation-delay: 13s; animation-duration: 13.89s;"></span>
        <span style="animation-delay: 15.17s; animation-duration: 14.54s;"></span>
        <span style="animation-delay: 17.33s; animation-duration: 13.33s;"></span>
        <span style="animation-delay: 19.5s; animation-duration: 22.25s;"></span>
        <span style="animation-delay: 21.67s; animation-duration: 13.49s;"></span>
    </div>
</div>