<footer class="footer">
    <div class="container">
        <div class="footer-body">
            <div class="row">
                <div class="col-lg-3">
                    <h4>About Center</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias facere modi molestias
                        soluta numquam quas iste harum quibusdam ex suscipit.
                    </p>
                    <span>WE ARE AVAILABLE</span>
                    <h6>Mon-Sat: 09.00 am to 6.30 pm</h6>
                    <a href="tel:+201080720455">Call To Us</a>
                </div>

                <div class="col-lg-3">
                    <h4>Quick Link</h4>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="services-1.html" class="nav-link">Popular Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blog & News</a>
                        </li>
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Why Choose Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h4>Recent Post</h4>
                    <div class="d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="https://via.placeholder.com/80" alt="">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Get Back on the Road Fast with Our 5-Star Car Services</a>
                            <span>
                                <i class="bx bx-user"></i>
                                By: <a href="#">A. Elsewailky</a>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="flex-shrink-0 me-3">
                            <img src="https://via.placeholder.com/80" alt="">
                        </div>
                        <div class="flex-grow-1">
                            <a href="blog-single.html">Get Back on the Road Fast with Our 5-Star Car Services</a>
                            <span>
                                <i class="bx bx-user"></i>
                                By: <a href="#">A. Elsewailky</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <h4>News Letter</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque veniam nobis, ipsam
                        laboriosam deleniti enim!</p>
                    <form action="/">
                        <input type="text" class="form-control" placeholder="Email Adress">
                        <button type="button" class="btn btn-success">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="copy-right">
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright &copy; 2024 <a href="index.html" class="text-main">Ridez</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end socials">
                    <a href="https://facebook.com/ahmedelsewailky" target="_blank" rel="noopener"
                        title="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="https://twitter.com/elsewailky" target="_blank" rel="noopener" title="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="https://instagram.com/ahmedelsewailky" target="_blank" rel="noopener"
                        title="Instagram">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="https://github.com/ahmedelsewailky" target="_blank" rel="noopener" title="Github">
                        <i class="bx bxl-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="search-popup">
    <div class="search-content">
        <form action="search.html" method="get">
            <div class="form-group">
                <input type="search" class="form-control" name="q" placeholder="Type to search ...">
            </div>
            <button type="submit" class="btn btn-primary btn-block" title="Search">
                <i class="bx bx-search"></i>
            </button>
        </form>
    </div>
    <button class="close-btn">&times;</button>
</div>

<button id="back-to-top" class="btn btn-primary" title="Back to Top">↑ Top</button>