<div id="preloader">
    <div class="spinner">
        <img src="your-icon.png" alt="Icon">
    </div>
</div>

<div class="topbar">
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="col-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <i class="bx bx-map"></i>
                        <span>Location:</span> 852 Naser City, Cairo
                    </li>
                    <li class="nav-item">
                        <i class="bx bx-time-five"></i>
                        <span>Open Hours:</span> Mon. - Fri. 09:00AM - 18:00PM
                    </li>
                </ul>
            </div>

            <div class="col-auto">
                <div class="d-flex align-items-center justify-content-end">
                    <i class="bx bx-clock"></i>
                    <span>Our Socials:</span>
                    <a href="https://facebook.com/ahmedelsewailky" class="social-link" target="_blank" rel="noopener"
                        title="Facebook">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="https://twitter.com/elsewailky" class="social-link" target="_blank" rel="noopener"
                        title="Twitter">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="https://instagram.com/ahmedelsewailky" class="social-link" target="_blank" rel="noopener"
                        title="Instagram">
                        <i class="bx bxl-instagram"></i>
                    </a>
                    <a href="https://github.com/ahmedelsewailky" class="social-link" target="_blank" rel="noopener"
                        title="Github">
                        <i class="bx bxl-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>