@each $color, $code in $colors {
    .bg-#{$color} {
        background-color: var(--bg-#{$color});
        color: lighten($code, 45%)
    }
}

@each $color, $code in $colors {
    .btn-#{$color} {
        background-color: var(--bg-#{$color});
        color: lighten($code, 45%)
    }
}

@each $color, $code in $colors {
    .border-#{$color} {
        border-color: var(--bg-#{$color});
    }
}