:root {
    --font-size: 16px;
    --font-family: "Rubik", sans-serif;

    @each $color, $code in $colors {
        --bg-#{$color}: #{$code};
    }

    --main-color: var(--bg-#{$mainColor});
}

body {
    font: {
        size: var(--font-size);
        family: var(--font-family);
    }
}